{% extends 'base/base.html' %}
{% block title %}
Formulario Solicitud
{% endblock %}
{% block content %}
    <form method="post">
    {% csrf_token %}
        {{ form2.as_p }}
        {{ form.as_p }}

    <button type="submit" class="btn btn-primary">Guardar</button>
    </form>

{% endblock %}