{% extends 'base/base.html' %}
{% block title %}
Registrar Usuario
{% endblock %}

{% block extrahead %}

{% endblock %}

{% block content %}

    <form method="post" class="form-group">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>

{% endblock %}