{% extends 'base/base.html' %}

{% block content %}
<form method="post">
    {% csrf_token %}
    {{  form.as_p }}
    <button class="btn btn-info" type="submit">Guardar</button>
</form>
{% endblock %}

