{% extends 'base/base.html'%}

{% block title %}
Eliminar Mascota
{% endblock %}

{% block content %}
    <form method="post">
    {% csrf_token %}
    <h3> Desea eliminar el registro de {{ object.nombre }}</h3>

    <button class="btn btn-danger" type="submit">Si, eliminar.</button>
        <a  class="btn btn-light" href="{%   url 'mascota:mascota_listar' %}">Cancelar</a>
    </form>
{% endblock %}